@page {
  margin: 15mm 20mm !important;
}

h1 {
  margin: 0 0 5px 0 !important;
}

h3 {
  margin: 0 !important;
}

.header {
  margin-bottom: 10px !important;
}

.header img {
  display: none !important;
}

.page-break {
  page-break-before: always;
  break-before: page;
}
